# **TUGAS 2 PSD C**

In [ ]:
!pip install psycopg2-binary
!pip install mysql-connector-python
!pip install pymysql
!pip install pyodbc
!pip install pandas

Requirement already satisfied: psycopg2-binary in c:\users\dj-acer\anaconda3\lib\site-packages (2.9.5)
Requirement already satisfied: mysql-connector-python in c:\users\dj-acer\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\dj-acer\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Requirement already satisfied: pymysql in c:\users\dj-acer\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: pyodbc in c:\users\dj-acer\anaconda3\lib\site-packages (4.0.0-unsupported)
Requirement already satisfied: pandas in c:\users\dj-acer\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\dj-acer\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dj-acer\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\dj-acer\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\dj-acer\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

## Get Data Sepal-Length from Posgresql Local



*   koneksikan database postgresql menggunakan library psycopg2
*   Setelah itu, sebuah cursor (penunjuk posisi pada database) dibuat untuk menjalankan query SQL.
*   Hasil query disimpan pada variabel hasil_query, kemudian dimasukkan ke dalam DataFrame dengan nama kolom yang diinginkan, yaitu "id" dan "sepallength"
*   Setelah selesai, cursor dan koneksi ditutup menggunakan fungsi close().

In [1]:
import psycopg2
import pandas as pd

# Buat koneksi ke PostgreSQL.
conn = psycopg2.connect(database="prosain200411100159", user="postgres", password="yayanmnh8", host="localhost", port="5432")


# Buat cursor untuk menjalankan query SQL.
cur = conn.cursor()

# Jalankan query SQL.
cur.execute("SELECT ROW_NUMBER() OVER () as id, sepallength FROM iris;")

# Ambil hasil query.
hasil_query = cur.fetchall()

df_sepallength = pd.DataFrame(hasil_query, columns=["id", "sepallength"])

print(df_sepallength)

# Tutup cursor dan koneksi.
cur.close()
conn.close()

      id sepallength
0      1         5.1
1      2         4.9
2      3         4.7
3      4         4.6
4      5           5
..   ...         ...
145  146         6.7
146  147         6.3
147  148         6.5
148  149         6.2
149  150         5.9

[150 rows x 2 columns]

## Get Data Petal-Width + Class from Sql-Server Local



*   koneksikan database sql server local menggunakan library pyodbc
*   Setelah itu, sebuah cursor (penunjuk posisi pada database) dibuat untuk menjalankan query SQL.
*   Hasil query disimpan pada variabel data, kemudian dimasukkan ke dalam DataFrame dengan nama kolom yang diinginkan
*   Setelah selesai, cursor dan koneksi ditutup menggunakan fungsi close().

In [ ]:
import pyodbc
import pandas as pd
server = 'DESKTOP-S2C8NAG'
database = 'prosain200411100159'
conn = pyodbc.connect(driver='SQL Server Native Client 11.0',server=server, database=database, Trusted_Connection='yes')
cursor = conn.cursor()
cursor.execute('SELECT * FROM dbo.iris_arff;')

row = cursor.fetchall() 
cursor.close()
data=[]
for i in row:
    data.append([i[0],i[1].strip('"'),i[2].strip('"')])
df_petalwidth = pd.DataFrame(data, columns=['id','petalwidth','class'])
print(df_petalwidth)
conn.close()

      id petalwidth           class
0      1        0.2     Iris-setosa
1      2        0.2     Iris-setosa
2      3        0.2     Iris-setosa
3      4        0.2     Iris-setosa
4      5        0.2     Iris-setosa
..   ...        ...             ...
145  146        2.3  Iris-virginica
146  147        1.9  Iris-virginica
147  148          2  Iris-virginica
148  149        2.3  Iris-virginica
149  150        1.8  Iris-virginica

[150 rows x 3 columns]

## Get Data Sepal-Width from Posgresql Elephant



*   koneksikan database postgresql menggunakan library psycopg2
*   Setelah itu, sebuah cursor (penunjuk posisi pada database) dibuat untuk menjalankan query SQL.
*   Hasil query disimpan pada variabel hasil_query, kemudian dimasukkan ke dalam DataFrame dengan nama kolom yang diinginkan, yaitu "id" dan "sepalwidth"
*   Setelah selesai, cursor dan koneksi ditutup menggunakan fungsi close().

In [ ]:
import psycopg2
import pandas as pd

# Buat koneksi ke PostgreSQL.
conn = psycopg2.connect(database="jflcgkqa", user="jflcgkqa", password="tkUR1gKave5-xZWDJuUrIXtfZTH-fxdo", host="floppy.db.elephantsql.com", port="5432")


# Buat cursor untuk menjalankan query SQL.
cur = conn.cursor()

# Jalankan query SQL.
cur.execute("SELECT ROW_NUMBER() OVER () as id, sepalwidth FROM iris;")

# Ambil hasil query.
hasil_query = cur.fetchall()

df_sepalwidth = pd.DataFrame(hasil_query, columns=["id", "sepalwidth"])

print(df_sepalwidth)

# Tutup cursor dan koneksi.
cur.close()
conn.close()

      id sepalwidth
0      1        3.5
1      2          3
2      3        3.2
3      4        3.1
4      5        3.6
..   ...        ...
145  146          3
146  147        2.5
147  148          3
148  149        3.4
149  150          3

[150 rows x 2 columns]

## Get Data Petal-Length from Mysql Local

*   koneksikan database mysql local menggunakan library mysql.connector
*   Setelah itu, sebuah cursor (penunjuk posisi pada database) dibuat untuk menjalankan query SQL.
*   Hasil query disimpan pada variabel hasil_query, kemudian dimasukkan ke dalam DataFrame dengan nama kolom yang diinginkan, yaitu "id" dan "petallength"
*   Setelah selesai, cursor dan koneksi ditutup menggunakan fungsi close().

In [ ]:
import mysql.connector as mc
import pandas as pd

conn = mc.connect(
  host="localhost",
  user="root",
  password="",
  database="prosain200411100159"
)
# Buat cursor untuk menjalankan query SQL.
cur = conn.cursor()

# Jalankan query SQL.
cur.execute("SELECT * FROM iris_arff;")

# Ambil hasil query.
hasil_query = cur.fetchall()

df_petallength = pd.DataFrame(hasil_query, columns=["id", "petallength"])

print(df_petallength)

# Tutup cursor dan koneksi.
cur.close()
conn.close()

      id petallength
0      1         1.4
1      2         1.4
2      3         1.3
3      4         1.5
4      5         1.4
..   ...         ...
145  146         5.2
146  147           5
147  148         5.2
148  149         5.4
149  150         5.1

[150 rows x 2 columns]

melakukan penggabungan empat kolom data yang ada dalam beberapa kerangka data (dataframe) menjadi satu dataframe tunggal.

In [ ]:
result = pd.concat([df_petallength, df_sepallength, df_sepalwidth, df_petalwidth], axis=1)
result

,id,petallength,id,sepallength,id,sepalwidth,id,petalwidth,class
0,1,1.4,1,5.1,1,3.5,1,0.2,Iris-setosa
1,2,1.4,2,4.9,2,3,2,0.2,Iris-setosa
2,3,1.3,3,4.7,3,3.2,3,0.2,Iris-setosa
3,4,1.5,4,4.6,4,3.1,4,0.2,Iris-setosa
4,5,1.4,5,5,5,3.6,5,0.2,Iris-setosa
...,...,...,...,...,...,...,...,...,...
145,146,5.2,146,6.7,146,3,146,2.3,Iris-virginica
146,147,5,147,6.3,147,2.5,147,1.9,Iris-virginica
147,148,5.2,148,6.5,148,3,148,2,Iris-virginica
148,149,5.4,149,6.2,149,3.4,149,2.3,Iris-virginica
149,150,5.1,150,5.9,150,3,150,1.8,Iris-virginica



*   menghapus kolom id
*   menyisakan kolom yang di perlukan

In [ ]:
result.drop(result.columns[[0,2,4,6]],axis=1,inplace=True)
result

    petallength sepallength sepalwidth petalwidth           class
0           1.4         5.1        3.5        0.2     Iris-setosa
1           1.4         4.9          3        0.2     Iris-setosa
2           1.3         4.7        3.2        0.2     Iris-setosa
3           1.5         4.6        3.1        0.2     Iris-setosa
4           1.4           5        3.6        0.2     Iris-setosa
..          ...         ...        ...        ...             ...
145         5.2         6.7          3        2.3  Iris-virginica
146           5         6.3        2.5        1.9  Iris-virginica
147         5.2         6.5          3          2  Iris-virginica
148         5.4         6.2        3.4        2.3  Iris-virginica
149         5.1         5.9          3        1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
X = result.values[:, :4]
Y = result.values[:, 4]
print(X)

[['1.4' '5.1' '3.5' '0.2']
 ['1.4' '4.9' '3' '0.2']
 ['1.3' '4.7' '3.2' '0.2']
 ['1.5' '4.6' '3.1' '0.2']
 ['1.4' '5' '3.6' '0.2']
 ['1.7' '5.4' '3.9' '0.4']
 ['1.4' '4.6' '3.4' '0.3']
 ['1.5' '5' '3.4' '0.2']
 ['1.4' '4.4' '2.9' '0.2']
 ['1.5' '4.9' '3.1' '0.1']
 ['1.5' '5.4' '3.7' '0.2']
 ['1.6' '4.8' '3.4' '0.2']
 ['1.4' '4.8' '3' '0.1']
 ['1.1' '4.3' '3' '0.1']
 ['1.2' '5.8' '4' '0.2']
 ['1.5' '5.7' '4.4' '0.4']
 ['1.3' '5.4' '3.9' '0.4']
 ['1.4' '5.1' '3.5' '0.3']
 ['1.7' '5.7' '3.8' '0.3']
 ['1.5' '5.1' '3.8' '0.3']
 ['1.7' '5.4' '3.4' '0.2']
 ['1.5' '5.1' '3.7' '0.4']
 ['1' '4.6' '3.6' '0.2']
 ['1.7' '5.1' '3.3' '0.5']
 ['1.9' '4.8' '3.4' '0.2']
 ['1.6' '5' '3' '0.2']
 ['1.6' '5' '3.4' '0.4']
 ['1.5' '5.2' '3.5' '0.2']
 ['1.4' '5.2' '3.4' '0.2']
 ['1.6' '4.7' '3.2' '0.2']
 ['1.6' '4.8' '3.1' '0.2']
 ['1.5' '5.4' '3.4' '0.4']
 ['1.5' '5.2' '4.1' '0.1']
 ['1.4' '5.5' '4.2' '0.2']
 ['1.5' '4.9' '3.1' '0.1']
 ['1.2' '5' '3.2' '0.2']
 ['1.3' '5.5' '3.5' '0.2']
 ['1.5' '4.9' '3.1' '0.1']
 ['1.3' '4.4' '3' '0.2']
 ['1.5' '5.1' '3.4' '0.2']
 ['1.3' '5' '3.5' '0.3']
 ['1.3' '4.5' '2.3' '0.3']
 ['1.3' '4.4' '3.2' '0.2']
 ['1.6' '5' '3.5' '0.6']
 ['1.9' '5.1' '3.8' '0.4']
 ['1.4' '4.8' '3' '0.3']
 ['1.6' '5.1' '3.8' '0.2']
 ['1.4' '4.6' '3.2' '0.2']
 ['1.5' '5.3' '3.7' '0.2']
 ['1.4' '5' '3.3' '0.2']
 ['4.7' '7' '3.2' '1.4']
 ['4.5' '6.4' '3.2' '1.5']
 ['4.9' '6.9' '3.1' '1.5']
 ['4' '5.5' '2.3' '1.3']
 ['4.6' '6.5' '2.8' '1.5']
 ['4.5' '5.7' '2.8' '1.3']
 ['4.7' '6.3' '3.3' '1.6']
 ['3.3' '4.9' '2.4' '1']
 ['4.6' '6.6' '2.9' '1.3']
 ['3.9' '5.2' '2.7' '1.4']
 ['3.5' '5' '2' '1']
 ['4.2' '5.9' '3' '1.5']
 ['4' '6' '2.2' '1']
 ['4.7' '6.1' '2.9' '1.4']
 ['3.6' '5.6' '2.9' '1.3']
 ['4.4' '6.7' '3.1' '1.4']
 ['4.5' '5.6' '3' '1.5']
 ['4.1' '5.8' '2.7' '1']
 ['4.5' '6.2' '2.2' '1.5']
 ['3.9' '5.6' '2.5' '1.1']
 ['4.8' '5.9' '3.2' '1.8']
 ['4' '6.1' '2.8' '1.3']
 ['4.9' '6.3' '2.5' '1.5']
 ['4.7' '6.1' '2.8' '1.2']
 ['4.3' '6.4' '2.9' '1.3']
 ['4.4' '6.6' '3' '1.4']
 ['4.8' '6.8' '2.8' '1.4']
 ['5' '6.7' '3' '1.7']
 ['4.5' '6' '2.9' '1.5']
 ['3.5' '5.7' '2.6' '1']
 ['3.8' '5.5' '2.4' '1.1']
 ['3.7' '5.5' '2.4' '1']
 ['3.9' '5.8' '2.7' '1.2']
 ['5.1' '6' '2.7' '1.6']
 ['4.5' '5.4' '3' '1.5']
 ['4.5' '6' '3.4' '1.6']
 ['4.7' '6.7' '3.1' '1.5']
 ['4.4' '6.3' '2.3' '1.3']
 ['4.1' '5.6' '3' '1.3']
 ['4' '5.5' '2.5' '1.3']
 ['4.4' '5.5' '2.6' '1.2']
 ['4.6' '6.1' '3' '1.4']
 ['4' '5.8' '2.6' '1.2']
 ['3.3' '5' '2.3' '1']
 ['4.2' '5.6' '2.7' '1.3']
 ['4.2' '5.7' '3' '1.2']
 ['4.2' '5.7' '2.9' '1.3']
 ['4.3' '6.2' '2.9' '1.3']
 ['3' '5.1' '2.5' '1.1']
 ['4.1' '5.7' '2.8' '1.3']
 ['6' '6.3' '3.3' '2.5']
 ['5.1' '5.8' '2.7' '1.9']
 ['5.9' '7.1' '3' '2.1']
 ['5.6' '6.3' '2.9' '1.8']
 ['5.8' '6.5' '3' '2.2']
 ['6.6' '7.6' '3' '2.1']
 ['4.5' '4.9' '2.5' '1.7']
 ['6.3' '7.3' '2.9' '1.8']
 ['5.8' '6.7' '2.5' '1.8']
 ['6.1' '7.2' '3.6' '2.5']
 ['5.1' '6.5' '3.2' '2']
 ['5.3' '6.4' '2.7' '1.9']
 ['5.5' '6.8' '3' '2.1']
 ['5' '5.7' '2.5' '2']
 ['5.1' '5.8' '2.8' '2.4']
 ['5.3' '6.4' '3.2' '2.3']
 ['5.5' '6.5' '3' '1.8']
 ['6.7' '7.7' '3.8' '2.2']
 ['6.9' '7.7' '2.6' '2.3']
 ['5' '6' '2.2' '1.5']
 ['5.7' '6.9' '3.2' '2.3']
 ['4.9' '5.6' '2.8' '2']
 ['6.7' '7.7' '2.8' '2']
 ['4.9' '6.3' '2.7' '1.8']
 ['5.7' '6.7' '3.3' '2.1']
 ['6' '7.2' '3.2' '1.8']
 ['4.8' '6.2' '2.8' '1.8']
 ['4.9' '6.1' '3' '1.8']
 ['5.6' '6.4' '2.8' '2.1']
 ['5.8' '7.2' '3' '1.6']
 ['6.1' '7.4' '2.8' '1.9']
 ['6.4' '7.9' '3.8' '2']
 ['5.6' '6.4' '2.8' '2.2']
 ['5.1' '6.3' '2.8' '1.5']
 ['5.6' '6.1' '2.6' '1.4']
 ['6.1' '7.7' '3' '2.3']
 ['5.6' '6.3' '3.4' '2.4']
 ['5.5' '6.4' '3.1' '1.8']
 ['4.8' '6' '3' '1.8']
 ['5.4' '6.9' '3.1' '2.1']
 ['5.6' '6.7' '3.1' '2.4']
 ['5.1' '6.9' '3.1' '2.3']
 ['5.1' '5.8' '2.7' '1.9']
 ['5.9' '6.8' '3.2' '2.3']
 ['5.7' '6.7' '3.3' '2.5']
 ['5.2' '6.7' '3' '2.3']
 ['5' '6.3' '2.5' '1.9']
 ['5.2' '6.5' '3' '2']
 ['5.4' '6.2' '3.4' '2.3']
 ['5.1' '5.9' '3' '1.8']]

untuk membagi dataset menjadi data training dan data testing

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( 
    X, Y, test_size = 0.2, random_state = 100)

 implementasi dari algoritma Decision Tree untuk klasifikasi menggunakan Python dan library Scikit-learn (sklearn).

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = classifier.predict(X_test)

Menampilkan akurasi dari metode decision tree

In [ ]:
from sklearn.metrics import accuracy_score
print (" DecisionTree Accuracy : ",
    accuracy_score(y_test,y_pred)*100)

 DecisionTree Accuracy :  96.66666666666667

implementasi dari KNN classifier untuk klasifikasi menggunakan Python dan library Scikit-learn (sklearn).

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
y_pred = classifier.predict(X_test)

Menampilkan akurasi dari metode KNN Classifier

In [ ]:
print (" KNN Accuracy : ",
    accuracy_score(y_test,y_pred)*100)

 KNN Accuracy :  100.0